<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento PIX</title>
    <link rel="stylesheet" href="__CDN__/assets/css/bootstrap.min.css">
    <link rel="icon" href="__CDN__/assets/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico"/>
    <link href="__CDN__/assets/css/index.css" rel="stylesheet">
    <link href="__CDN__/assets/css/frontend.min.css" rel="stylesheet">
</head>
<body style="background-color: #ffffff">
<!--    // 嵌套页面-->
    <iframe
            src="{$data.url}"
            style="width:100vw; height:100vh; border:none; overflow:hidden;"
    >

    </iframe>
</body>
</html>